 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey there! I'm Neil Agarwal. Also known by the name "regalstreak" around the web, I had begun developing stuff for Android. I'm 18 and I love EDM, food, football, cycling, gaming and of course, making amazing new stuff.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm pursuing a B.E. in Computer Science from D. Y. Patil University (<a href="http://www.rait.ac.in/">RAIT</a>) and currently in the first year. I am from Mumbai. I've been involved in a number of projects including Gamrite and halogenOS. I like to work opensource and believe that it is the future of software.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="https://telegram.me/regalstreak" class="btn btn-lg btn-outline">
                        <i class="fa fa-paper-plane"></i> &nbsp; Telegram me
                    </a>
                </div>
            </div>
        </div>
    </section>
